@import "../../../../styles/variables.scss";

.sidebar-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;

    ul{
        list-style: none;
        padding-top: 80px;

        li{
            padding: 5px;
            margin-bottom: 15px;
            cursor: pointer;

            &:hover{
                color: $primary-color;
            }
        }
    }
}