<main>
  <section class="form-section">
    <img src="/assets/svg/Logo.svg" alt="logo Keep Health" />
    <h2>Entre com a sua conta</h2>
    <form class="form-wrapper">
      <label>Email</label>
      <div class="input-content">
        <input type="email" placeholder="user@keephealth.com" />
        <div class="icon">
          <img src="/assets/svg/email-icon.svg" alt="" />
        </div>
      </div>
      <label>Senha</label>
      <div class="input-content">
        <input type="password" placeholder="Senha" />
        <div class="icon">
          <img src="/assets/svg/password-icon.svg" alt="" />
        </div>
      </div>
    </form>
    <div class="btn-wrapper">
      <button class="btn-primary">Entrar</button>
      <span class="reset-senha">Esqueceu a senha?</span>
      <div class="divider">
        <div></div>
        <span>Ou</span>
        <div></div>
      </div>
      <button class="btn-secondary">Cadastrar</button>
    </div>
  </section>
  <section class="main-section">
    <h1>Sua jornada saudável começa aqui!</h1>
    <img src="/assets/svg/keep health.svg" alt="" />
  </section>
</main>
