<main>
  <section class="form-section">
    <img src="/assets/svg/Logo.svg" alt="logo Keep Health" />
    <h2>Entre com a sua conta</h2>
    <form class="form-wrapper">
      <label>Email</label>
      <div class="input-content">
        <input
          type="email"
          name="email"
          placeholder="user@keephealth.com"
          [(ngModel)]="loginObj.email"
          #loginEmail="ngModel"
        />
        <div class="icon">
          <img src="/assets/svg/email-icon.svg" alt="" />
        </div>
      </div>
      <label>Senha</label>
      <div class="input-content">
        <input
          type="password"
          name="senha"
          placeholder="Senha"
          [(ngModel)]="loginObj.senha"
          #loginSenha="ngModel"
        />
        <div class="icon">
          <img src="/assets/svg/password-icon.svg" alt="" />
        </div>
      </div>
      <button 
      type="submit" 
      class="btn-primary"
      (click)="entrar()"
      >Entrar</button>
    </form>
    <div class="btn-wrapper">
      <span class="reset-senha" (click)="resetSenha()">Esqueceu a senha?</span>
      <div class="divider">
        <div></div>
        <span>Ou</span>
        <div></div>
      </div>
      <button (click)="cadastrar()" class="btn-secondary">Cadastrar</button>
    </div>
  </section>
  <section class="main-section">
    <h1>Sua jornada saudável começa aqui!</h1>
    <img src="/assets/svg/keep health.svg" alt="" />
  </section>
</main>
