<main>  
  <section class="form-section">
    <img src="/assets/svg/Logo.svg" alt="logo Keep Health" />
    <h2>{{ titleForm }}</h2>

    <form class="form-wrapper" (ngSubmit)="cadastrar()" [formGroup]="cadastroUsuario">
      <label for="Nome">Nome</label>
      <div class="input-content">
        <input 
        type="text"
        name="Nome"
        placeholder="Digite seu nome"
        formControlName="nome"
        />
        <div class="icon">
          <img src="/assets/svg/email-icon.svg" alt="" />
        </div>
      </div>

      <label for="Data">Data de Nascimento</label>
      <div class="input-content">
        <input
         type="date"
         name="Data"
         formControlName="dataNascimento"
         />
        <div class="icon">
          <img src="/assets/svg/email-icon.svg" alt="" />
        </div>
      </div>

      <label for="Email">Email</label>
      <div class="input-content">
        <input 
        type="email"
        name="Email"
        formControlName="email"
        placeholder="user@keephealth.com"
        />
        <div class="icon">
          <img src="/assets/svg/email-icon.svg" alt="" />
        </div>
      </div>

      <label for="senha">Senha</label>
      <div class="input-content">
        <input 
        type="password"
        name="senha" 
        placeholder="Senha"        
        formControlName="senha"
        />
        <div class="icon">
          <img src="/assets/svg/password-icon.svg" alt="" />
        </div>
      </div>

      <label for="confirmarSenha">Confirmar Senha</label>
      <div class="input-content">
        <input 
        type="password" 
        name="confirmarSenha"
        placeholder="Senha"
        formControlName="confirmarSenha"
        />
        <div class="icon">
          <img src="/assets/svg/password-icon.svg" alt="" />
        </div>
      </div>
      <button class="btn-primary" type="submit">Cadastrar</button>
    </form>
    <div class="btn-wrapper">      
      <div class="divider">
        <div></div>
        <span>já tem cadastro?</span>
        <div></div>
      </div>
      <button (click)="fazerLogin()" class="btn-secondary">Fazer Login</button>
    </div>
  </section>
  <section class="main-section">
    <h1>{{ titleMain }}</h1>
    <img src="/assets/svg/keep-health-2.svg" alt="" />
  </section>
</main>
